@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
}

@layer base {
	body {
		@apply bg-zinc-950 text-neutral-200;
	}
}

.hash-span {
	margin-top: -100px;
	padding-bottom: 100px;
	display: block;
  }
  
  .black-gradient {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(
	  to right,
	  #434343,
	  #000000
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
	  to right,
	  #434343,
	  #000000
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .violet-gradient {
	background: #8693f2;
	background: linear-gradient(-90deg, #8693f2 0%, rgba(60, 51, 80, 0) 100%);
	background: -webkit-linear-gradient(
	  -90deg,
	  #8693f2 0%,
	  rgba(60, 51, 80, 0) 100%
	);
  }
  
  .green-pink-gradient {
	background: "#00cea8";
	background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
	background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  }
  
  .maroon-slate-gradient {
	background: "#f5f5dc";
	background: linear-gradient(90.13deg, #67001F 1.9%, #053061 97.5%);
	background: -webkit-linear-gradient(-90.13deg, #67001F 1.9%, #053061 97.5%);
  }
  
  .orange-text-gradient {
	background: #f12711; /* fallback for old browsers */
	background: -webkit-linear-gradient(
	  to top,
	  #f12711,
	  #f5af19
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
	  to top,
	  #f12711,
	  #f5af19
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
  .green-text-gradient {
	background: #11998e; /* fallback for old browsers */
	background: -webkit-linear-gradient(
	  to top,
	  #11998e,
	  #38ef7d
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
	  to top,
	  #11998e,
	  #38ef7d
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
  .blue-text-gradient {
	/* background: -webkit-linear-gradient(#eee, #333); */
	background: #56ccf2; /* fallback for old browsers */
	background: -webkit-linear-gradient(
	  to top,
	  #2f80ed,
	  #56ccf2
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
	  to top,
	  #2f80ed,
	  #56ccf2
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
  .pink-text-gradient {
	background: #ec008c; /* fallback for old browsers */
	background: -webkit-linear-gradient(
	  to top,
	  #ec008c,
	  #fc6767
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
	  to top,
	  #ec008c,
	  #fc6767
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
  /* canvas- styles */
  .canvas-loader {
	font-size: 10px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	animation: mulShdSpin 1.1s infinite ease;
	transform: translateZ(0);
  }
  
  code {
	font-family: input-mono, monospace;
	font-weight: 400;
	font-style: normal;
  }
  article:first-of-type {
	  --base: 80;
	  --spread: 500;
	  --outer: 1;
  }
  article:last-of-type {
	  --outer: 1;
	  --base: 220;
	  --spread: 200;
  }
  article {
	/* aspect-ratio: 3 / 4; */
	border-radius: calc(var(--radius) * 1px);
	width: 260px;
	/* max-width: 500px; */
	margin: 0 auto;
	position: relative;
	  grid-template-rows: 1fr auto;
	box-shadow: 0 1rem 2rem -1rem black;
	padding: 20px;
	display: grid;
	border: 1px solid hsl(0 0% 100% / 0.15);
	backdrop-filter: blur(calc(var(--cardblur, 5) * 1px));
	/* For demo purposes. Means you get the effect on mobile */
	/* touch-action: none; */
  }
  
  article button {
	padding: 0.75rem 2rem;
	align-self: end;
	color: hsl(0 0% 80%);
  }
  
  button[data-glow] span {
	font-weight: bold;
	background-image: radial-gradient(
	  var(--spotlight-size) var(--spotlight-size) at
	  calc(var(--x, 0) * 1px)
	  calc(var(--y, 0) * 1px),
	  hsl(var(--hue, 210) calc(var(--saturation, 100) * 1%) calc(var(--lightness, 70) * 1%) / var(--bg-spot-opacity, 1)), transparent
	);
	background-color: var(--backdrop, transparent);
	background-position: 50% 50%;
	background-attachment: fixed;
	background-clip: text;
	filter: brightness(1.5);
	color: transparent;
  }
  
  .progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
	background: var(--red);
	transform-origin: 0%;
  }
  @keyframes mulShdSpin {
	0%,
	100% {
	  box-shadow: 0em -2.6em 0em 0em #ffffff,
		1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
		2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
		1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
		0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
		-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
		-2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
		-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
	}
	12.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
		1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
		1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
		0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
		-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
		-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
		-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
	}
	25% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
		1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
		1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
		0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
		-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
		-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
		-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	37.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
		1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
		2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
		0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
		-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
		-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
		-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	50% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
		1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
		2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
		1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
		-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
		-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
		-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	62.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
		1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
		2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
		1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
		0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
		-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
		-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	75% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
		1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
		2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
		1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
		0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
		-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
		-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	87.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
		1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
		2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
		1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
		0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
		-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
		-2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
	}
  }
  
  code {
	background: #706e6e96;
	border: 1px solid #706e6e96;
	border-radius: 2px;
	color: #e4d8d8;
	font-family: monospace;
  }

  .orange-gradient {
	background: linear-gradient(10deg, #ffaa00, #ff6a00);
	background: var(--gradient);
  }

